<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Перенаправляем все запросы на router.php, кроме реальных файлов
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ router.php [L,QSA]
</IfModule>