.nav-menu{
    display: flex;
    list-style-type: none;
}

.nav-item{
    margin-left: 10px;
}

.child-menu{
    list-style-type: none;
    display: none;
}

.nav-item:hover .child-menu{
    display: block;
}

.child-menu .nav-item{
    margin-left: 0;
}

.form{
    display: flex;;
}

.form label{
    display: block;
}

.width-50{
    width: 50%;
}

.form .form_input{
    margin-bottom: 20px;
}

.form .checkbox_list label{
    display: inline-block;
}